.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 2rem;
    line-height: 2.5;
    padding-left: .80em;
    padding-right: .80em;
    }
    .card-registration .select-arrow {
    top: 15px;
    }
    .img-fluid {
        max-width: 100%;
        height: auto;
    }